﻿<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="page-title">
                <h3>{{ "Collaboration Details" | translate }}<span class="semi-bold"></span></h3>
            </div>
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border" ng-show="display">
                <form name="myForm" novalidate="novalidate" ng-submit="Save(myForm.$valid)">
                    <div class="row" ng-show="notshow">
                        <div class="col-xs-4">
                            <div class="well" class="form-group">
                                <div class="form-group">
                                    <label>Current Page:</label>
                                    <input
                                        placeholder="page"
                                        class="form-control"
                                        ng-model="currentPage"
                                        ng-init="currentPage = 1" />
                                </div>
                                <div class="form-group">
                                    <label>Page Size:</label>
                                    <input
                                        placeholder="Page Size"
                                        class="form-control"
                                        ng-model="numPerPage" />
                                </div>
                                <div class="form-group">
                                    <label>Total Items:</label>
                                    <input
                                        placeholder="Total"
                                        class="form-control"
                                        ng-model="pagersize" />
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Dots Display:</label>
                                    <input
                                        placeholder="..."
                                        class="form-control"
                                        maxlength="3"
                                        ng-model="dots"
                                        ng-init="dots = '...'" />
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label>UL Class:</label>
                                    <input
                                        placeholder="pagination"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="ulClass" />
                                </div>
                                <div class="form-group">
                                    <label>Active Class:</label>
                                    <input
                                        placeholder="active"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="activeClass"
                                        ng-init="activeClass = 'active'" />
                                </div>
                                <div class="form-group">
                                    <label>Disabled Class:</label>
                                    <input
                                        placeholder="disabled"
                                        class="form-control"
                                        maxlength="100"
                                        ng-model="disabledClass"
                                        ng-init="disabledClass = 'disabled'" />
                                </div>
                                <br />
                                <table class="table">

                                    <tr>
                                        <td>
                                            <label>Show Prev Next:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showPrevNext"
                                                ng-init="showPrevNext = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Show First Last:</label></td>
                                        <td>
                                            <input
                                                type="checkbox"
                                                ng-model="showFirstLast"
                                                ng-init="showFirstLast = true" />
                                            {{showPrevNext}}
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <span class="btn btn-default" onclick="location.reload()">
                                    <span title="Reset Settings" class="glyphicon glyphicon-repeat"></span>
                                </span>
                                <span class="btn btn-success" ng-click="currentPage = 0">Apply Settings
                                </span>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <label class="form-label-sm">{{ "Select Module" | translate }}</label>
                                    </div>

                                    <div class="col-md-12" ng-class="{'has-error': !myForm.Module.$valid && (myForm.Module.$touched || myForm.$submitted) }">
                                        <select id="Module" name="Module" class="form-control select2-sm" required ng-model="edt.modcode" ng-change="GetApplication(edt.modcode)">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in obj_module|filter:{module_name_en: ''}" value="{{i.module_code}}">{{i.module_name_en}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.Module.$dirty && myForm.Module.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.Module.$error.required && (myForm.Module.$touched || myForm.$submitted)">This Field is required.
                                            </small>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ "Application" | translate }}</label>
                                    </div>
                                    <div class="col-md-12" ng-class="{'has-error': !myForm.Application.$valid && (myForm.Application.$touched || myForm.$submitted) }">
                                        <select id="Application" name="Application" class="form-control select2-sm" required ng-model="edt.applcode" ng-change="getButtonObjects(edt.applcode)" ng-options="item.applcode as item.application_name for item in obj_appl">
                                            <option value="">Please Select</option>

                                            <!--<option ng-repeat="i in obj_appl|filter:{application_name: ''}" value="{{i.applcode}}">{{i.application_name}}
                                            </option>-->
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.Application.$dirty && myForm.Application.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.Application.$error.required && (myForm.Application.$touched || myForm.$submitted)">This Field is required.
                                            </small>
                                            <!-- <small class="error"
                                                ng-show="myForm.Curriculum.$error.minlength">Curriculum is required to be at least 3 characters
                                            </small>
                                            <small class="error"
                                                ng-show="myForm.Curriculum.$error.maxlength">Curriculum cannot be longer than 30 characters
                                            </small>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ "Button Object" | translate }}</label>
                                    </div>
                                    <div class="col-md-12" ng-class="{'has-error': !myForm.ButtonObject.$valid && (myForm.ButtonObject.$touched || myForm.$submitted) }">
                                        <select id="Select3" name="ButtonObject" class="form-control select2-sm" required ng-model="edt.form_control">
                                            <option value="">Please Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.ButtonObject.$dirty && myForm.ButtonObject.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.ButtonObject.$error.required && (myForm.ButtonObject.$touched || myForm.$submitted)">This Field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <label class="form-label-sm">{{ "SMTP ID" | translate }}</label>
                                    </div>

                                    <div class="col-md-12" ng-class="{'has-error': !myForm.SMTP.$valid && (myForm.SMTP.$touched || myForm.$submitted) }">
                                        <select id="Select3" name="SMTP" class="form-control select2-sm" required ng-model="edt.smtpID">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="i in obj_smtp|filter:{smtpids: ''}" value="{{i.smtpuser}}">{{i.smtpids}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="error-container"
                                            ng-show="myForm.SMTP.$dirty && myForm.SMTP.$invalid || myForm.$submitted">
                                            <small class="help-block"
                                                ng-show="myForm.SMTP.$error.required && (myForm.SMTP.$touched || myForm.$submitted)">This Field is required.
                                                   
                                            </small>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ "Select Criteria" | translate }}</label>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="em_chk" id="em_chk" title="Status" ng-model="edt.ifemail">
                                            <label for="em_chk">Mail</label>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <!-- <div class="error-container"
                                            ng-show="myForm.form3namear.$dirty && myForm.form3namear.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namear.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namear.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ "Select Recipients" | translate }} </label>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="father_echk" id="father_echk{{$index}}" value="{{edt.ifemailfather}}" ng-model="edt.ifemailfather" ng-click="ClickFEmail()">
                                                <label for="father_echk{{$index}}">Father</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="mother_echk" id="mother_echk{{$index}}" value="{{edt.ifemailmother}}" ng-model="edt.ifemailmother" ng-click="ClickMEmail()">
                                                <label for="mother_echk{{$index}}">Mother</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="guardian_echk" id="guardian_echk{{$index}}" value="{{edt.ifemailguardian}}" ng-model="edt.ifemailguardian" ng-click="ClickGEmail()">
                                                <label for="guardian_echk{{$index}}">Guardian</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="active_echk" id="active_echk{{$index}}" value="{{edt.ifemailactive}}" ng-model="edt.ifemailactive" ng-click="ClickEmail()">
                                                <label for="active_echk{{$index}}">Active</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namefrench.$dirty && myForm.form3namefrench.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namefrench.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namefrench.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ "View" | translate }}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-cons" type="button" ng-click="GetMsgTemplates_Email(edt.modcode)">{{ "View Template" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">


                                    <div class="col-md-12">

                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="sms_chk" id="sms_chk" title="Status" ng-model="edt.ifsms">
                                            <label for="sms_chk">SMS</label>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namear.$dirty && myForm.form3namear.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namear.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namear.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="father_schk" id="father_schk{{$index}}" value="{{edt.ifsmsfather}}" ng-model="edt.ifsmsfather" ng-click="ClickFSMS()">
                                                <label for="father_schk{{$index}}">Father</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="mother_smschk" id="mother_smschk{{$index}}" value="{{edt.ifsmsmother}}" ng-model="edt.ifsmsmother" ng-click="ClickMSMS()">
                                                <label for="mother_smschk{{$index}}">Mother</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="guardian_smschk" id="guardian_smschk{{$index}}" value="{{edt.ifsmsguardian}}" ng-model="edt.ifsmsguardian" ng-click="ClickGSMS()">
                                                <label for="guardian_smschk{{$index}}">Guardian</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox check-success" style="height: 20px">
                                                <input type="checkbox" name="active_smschk" id="active_smschk{{$index}}" value="{{edt.ifsmsactive}}" ng-model="edt.ifsmsactive" ng-click="ClickSMS()">
                                                <label for="active_smschk{{$index}}">Active</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namefrench.$dirty && myForm.form3namefrench.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namefrench.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namefrench.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-cons" type="button" ng-click="GetMsgTemplates_SMS(edt.modcode)">{{ "View Template" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="alert_chk" id="alert_chk" title="Status" ng-model="edt.ifalert">
                                            <label for="alert_chk">Alert</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namear.$dirty && myForm.form3namear.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namear.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namear.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="col-md-12">
                                        <label class="form-label">{{ "The Alert will be sent to User's Login ID" | translate }}</label>
                                    </div>

                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namefrench.$dirty && myForm.form3namefrench.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namefrench.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namefrench.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-cons" type="button" ng-click="GetMsgTemplates_Alert(edt.modcode)">{{ "View Template" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">

                                <div class="col-md-3">


                                    <div class="col-md-12">

                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="malert_chk" id="malert_chk" title="Status" ng-model="edt.ifmalert">
                                            <label for="malert_chk">Mobile Alert</label>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namear.$dirty && myForm.form3namear.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namear.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namear.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="form-label">{{ "The MobileAlert will be sent to User's Mobile Number" | translate }}</label>

                                    </div>

                                    <div class="col-md-12">
                                        <!--<div class="error-container"
                                            ng-show="myForm.form3namefrench.$dirty && myForm.form3namefrench.$invalid || myForm.$submitted">
                                            <small class="help-block" ng-show="myForm.form3namefrench.$error.pattern && (!myForm.$pristine && (myForm.$submitted || myForm.form3namefrench.$touched))">Enter Valid Data
                                            </small>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                          <label style="font-weight:bold">Email Templates</label>
                                     </div>                                  
                                </div>                               
                            </div>
                        </div>
                    </div>-->

                    <br />
                    <div class="grid-body no-border" ng-show="templategrid">
                        <div id="Div1" class="dataTables_wrapper form-inline">
                            <div class="col-md-12">
                                <label style="font-weight: bold">Email Templates</label>
                            </div>
                            <div style="width: 100%; height: 270px; overflow-x: scroll; overflow-y: scroll">
                                <!-- <table class="table table-hover table-striped  no-more-tables">-->

                                <table class="table table-hover table-bordered table-condensed" id="Table1">
                                    <thead>
                                        <tr style="background-color: #e9e4e4; height: 22px">
                                            <th><b>{{ "Select" | translate }}</b></th>
                                            <th><b>{{ "Subject" | translate }}</b></th>
                                            <th><b>{{ "Body" | translate }}</b></th>
                                            <th><b>{{ "Signature" | translate }}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sub_grp1 in filteredTodos1" ng-class="row1">
                                            <td>
                                                <div class="radio radio-success">
                                                    <input type="radio" name="radio_email" id="radio_email{{$index}}" value="{{sub_grp1.msg_srno}}" ng-model="edt.email_temp_srno" ng-click="getSerialEmail(sub_grp1.msg_srno)">
                                                    <label for="radio_email{{$index}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{sub_grp1.msg_email_subject}}</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <!--<button class="btn btn-mini" type="button" ng-click="getCommunicate_body(sub_grp1.msg_srno)">{{ "View Body" | translate }}</button>-->
                                                    <button class="btn btn-mini" type="button" ng-click="getCommunicate_body(sub_grp1.msg_email_body)">{{ "View Body" | translate }}</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-mini" type="button" ng-click="getCommunicate_sig(sub_grp1.msg_email_signature)">{{ "View Signature" | translate }}</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right">
                                <!--<paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">-->
                                </paging>
                            </div>


                        </div>

                    </div>
                    <div class="grid-body no-border" ng-show="templategrid_sms">
                        <div id="Div2" class="dataTables_wrapper form-inline">
                            <div class="col-md-12">
                                <label style="font-weight: bold">SMS Templates</label>
                            </div>
                            <div style="width: 100%; height: 270px; overflow-x: scroll; overflow-y: scroll">
                                <!-- <table class="table table-hover table-striped  no-more-tables">-->
                                <table class="table table-hover table-bordered table-condensed" id="Table2">
                                    <thead>
                                        <tr style="background-color: #e9e4e4; height: 22px">
                                            <th><b>{{ "Select" | translate }}</b></th>
                                            <th><b>{{ "Subject" | translate }}</b></th>
                                            <th><b>{{ "Body" | translate }}</b></th>
                                            <th><b>{{ "Signature" | translate }}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sub_grp2 in filteredTodos_sms" ng-class="row1">
                                            <td>
                                                <div class="radio radio-success">
                                                    <input type="radio" name="radio_sms" id="radio_sms{{$index}}" value="{{sub_grp2.msg_srno}}" ng-click="getSerialSMS(sub_grp2.msg_srno)" ng-model="edt.sms_temp_srno" ng-click="radioclick(copy1)">
                                                    <label for="radio_sms{{$index}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{sub_grp2.msg_email_subject}}</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-mini" type="button" ng-click="getCommunicate_body(sub_grp2.sims_email_body)">{{ "View Body" | translate }}</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-mini" type="button" ng-click="getCommunicate_sig(sub_grp2.msg_email_signature)">{{ "View Signature" | translate }}</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right">
                                <!--<paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">-->
                                </paging>
                            </div>


                        </div>

                    </div>
                    <div class="grid-body no-border" ng-show="templategrid_alert">
                        <div id="Div3" class="dataTables_wrapper form-inline">
                            <div class="col-md-12">
                                <label style="font-weight: bold">Alert Templates</label>
                            </div>
                            <div style="width: 100%; height: 270px; overflow-x: scroll; overflow-y: scroll">
                                <!-- <table class="table table-hover table-striped  no-more-tables">-->
                                <table class="table table-hover table-bordered table-condensed" id="Table3">
                                    <thead>
                                        <tr style="background-color: #e9e4e4; height: 22px">
                                            <th><b>{{ "Select" | translate }}</b></th>
                                            <th><b>{{ "Subject" | translate }}</b></th>
                                            <th><b>{{ "Body" | translate }}</b></th>
                                            <th><b>{{ "Signature" | translate }}</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sub_grp3 in filteredTodos_alert" ng-class="row1">
                                            <td>
                                                <div class="radio radio-success">
                                                    <input type="radio" name="radio_alert" id="radio_alert{{$index}}" value="{{sub_grp3.msg_srno}}" ng-click="getSerialalert(sub_grp3.msg_srno)" ng-model="edt.alert_temp_srno">
                                                    <label for="radio_alert{{$index}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{sub_grp3.msg_email_subject}}</div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-mini" type="button" ng-click="getCommunicate_body(sub_grp3.msg_email_body)">{{ "View Body" | translate }}</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-mini" type="button" ng-click="getCommunicate_sig(sub_grp3.msg_email_signature)">{{ "View Signature" | translate }}</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right">
                                <!--<paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                                    scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                                    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                                    ng-click="index(currentPage)">-->
                                </paging>
                            </div>


                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-cons" type="submit" ng-show="save1">{{ "Save" | translate }}</button>
                            <button class="btn btn-primary btn-cons" type="submit" ng-show="update1">{{ "Update" | translate }}</button>
                            <button class="btn btn-warning btn-cons" type="button" ng-click="cancel()">{{ "Cancel" | translate }}</button>
                        </div>
                    </div>

                    <iframe style="visibility: hidden" name="ifrm_cdetails" id="ifrm_cdetails"></iframe>
                </form>

            </div>

            <div class="grid-body no-border" ng-show="grid">

                <div class="row form-row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <select id="Select1" style="width: 65px" name="user" ng-model="pagesize" ng-change="size(pagesize)">

                                <option value="5" class=" form-control input-sm">5
                                </option>

                                <option value="10" class=" form-control input-sm">10
                                </option>

                                <option value="15" class=" form-control input-sm">15
                                </option>
                            </select>

                        </div>
                        &nbsp;
                            <button class="btn btn-success" style="height: 35px" type="button" ng-click="New()"><span class="semi-bold">+&nbsp;</span>{{ "New" | translate }}</button>
                        &nbsp;
                        <button class="btn btn-danger" style="height: 35px" type="button" ng-click="Delete()"><span class="semi-bold"></span>{{ "Delete" | translate }}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="example_filter">
                                <label>
                                    {{ "Search:" | translate }} &nbsp;
                                    <input type="text" aria-controls="example" ng-model="searchText" placeholder="Form Control/Application" class="input-medium" autofocus="autofocus" tabindex="1" ng-change="search()"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="example_wrapper" class="dataTables_wrapper form-inline">
                    <div style="width: 100%; height: 340px; overflow-x: scroll; overflow-y: scroll">
                        <!-- <table class="table table-hover table-striped  no-more-tables">-->
                        <table class="table table-hover table-bordered table-condensed" id="fixedtable">
                            <thead>
                                <tr style="background-color: #e9e4e4">
                                    <th class="small-cell v-align-middle" style="z-index: 999">
                                        <div class="checkbox check-success">
                                            <input type="checkbox" name="check" value="1" id="mainchk" ng-click="CheckAllChecked();">
                                            <label for="mainchk"></label>
                                        </div>
                                    </th>
                                    <th><b>{{ "Module" | translate }}</b></th>
                                    <th><b>{{ "Application" | translate }}</b></th>
                                    <th><b>{{ "Form Field" | translate }}</b></th>
                                    <th><b>{{ "Email" | translate }}</b></th>
                                    <th><b>{{ "SMS" | translate }}</b></th>
                                    <th><b>{{ "Alert" | translate }}</b></th>
                                    <th><b>{{ "MobileAlert" | translate }}</b></th>
                                    <th class="small-cell v-align-middle"><b><i class="fa fa-cogs"></i></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sub_grp in filteredTodos" ng-class="row1">
                                    <td>
                                        <div class="checkbox check-success" style="height: 20px">
                                            <input type="checkbox" name="check" value="1" id="{{$index}}" ng-click="checkonebyonedelete()">
                                            <label for="{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div>{{sub_grp.module_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_grp.application_name}}</div>
                                    </td>
                                    <td>
                                        <div>{{sub_grp.form_control}}</div>
                                    </td>
                                    <td>
                                        <div>
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="{{sub_grp.ifemail}}" value="{{sub_grp.ifemail}}" id="{{sub_grp.ifemail}}" class="checkall" ng-model="sub_grp.ifemail">
                                                <label for="{{sub_grp.ifemail}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="{{sub_grp.ifsms}}" value="{{sub_grp.ifsms}}" id="Checkbox8" class="checkall" ng-model="sub_grp.ifsms">
                                                <label for="{{sub_grp.ifsms}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="{{sub_grp.ifalert}}" value="{{sub_grp.ifalert}}" id="Checkbox9" class="checkall" ng-model="sub_grp.ifalert">
                                                <label for="{{sub_grp.ifalert}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <div class="checkbox check-success">
                                                <input type="checkbox" name="{{sub_grp.ifmalert}}" value="{{sub_grp.ifmalert}}" id="Checkbox10" class="checkall" ng-model="sub_grp.ifmalert">
                                                <label for="{{sub_grp.ifmalert}}"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a><i class="fa fa-edit" ng-click="edit(sub_grp)"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right">
                        <paging class="small" page="currentPage" page-size="pageSize" total="pagersize" pg-href="#GotoPage-{page}" dots="{{dots}}" show-prev-next="{{showPrevNext}}"
                            scroll-top="{{scrollTop}}" hide-if-empty="{{hideIfEmpty}}" ul-class="{{ulClass}}" active-class="{{activeClass}}" disabled-class="{{disabledClass}}" show-first-last="{{showFirstLast}}"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, totalItems)"
                            ng-click="index(currentPage)">
                      </paging>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="commnModal" ng-style="style" tabindex="-1">
    <div class="modal-dialog" id="Div14">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="commnModaldisplay()">&times;</span></button>
                <h5 class="semi-bold pull-left">{{"Details"| translate }}</h5>

                <br />
            </div>
            <div class="modal-body" style="background-color: white">
                <div class="loading" style="font-weight: bold; font-size: 20px; color: black;" ng-hide="display">
                    {{ "Loading..." | translate }}
                </div>
                <div class="grid-body no-border">
                    <div id="Div15" class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="form-label-sm">{{ "Description" | translate }}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="grid simple" style="display: -webkit-box; width: 600px">
                                                <div class="tools">
                                                    <a href="javascript:;" class="collapse"></a>
                                                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                                                    <a href="javascript:;" class="reload"></a>
                                                    <a href="javascript:;" class="remove"></a>
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea id="text-editor" name="editor" data-bind="wysihtml5: $data.ExampleText" required placeholder="Enter text ..." class="form-control" rows="8" style="text-align: left; width: 500px"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="assets/js/tableHeadFixer.js"></script>



