﻿<!doctype html>
<html ng-app="sims" ng-controller="LayoutController">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    	<meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
    <meta charset="utf-8" />
    <title ng-bind="title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
        <link href="assets/js/sweetalert2.css" rel="stylesheet" />
    <link href="assets/css/sweetalert2.css" rel="stylesheet" />
    <link href="assets/css/sweetalert2.min.css" rel="stylesheet" />

    <link href="assets/plugins/boostrap-clockpicker/bootstrap-clockpicker.css" rel="stylesheet" />
    <link href="assets/libs/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/bower/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/bower/animate.css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/plugin/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/plugin/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />
    <!--<link href="assets/libs/bower/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="assets/libs/bower/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />-->
    <link href="assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />

    <link href="assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" />
    <link href="assets/libs/plugin/messagebox/sweetalert.css" rel="stylesheet" />
   
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker.min.css" rel="stylesheet" />
    <link href="assets/plugins/jquery-superbox/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>

    <link href="assets/plugins/MultiSelect/multiple-select.css" rel="stylesheet" />
     <script src="assets/js/sweetalert2.min.js"></script>


    <!-- endbower -->
    <!-- endbuild -->
    <link ng-href="assets/theme/css/{{langDirection}}/style.css" rel="stylesheet" type="text/css" />
    <link ng-href="assets/theme/css/{{langDirection}}/responsive.css" rel="stylesheet" type="text/css" />

    <!-- build:css styles/main.css -->
    <link href="assets/theme/css/app.css" rel="stylesheet" />
    <link href="assets/theme/css/custom-icon-set.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <!--page level -->
    <link href="assets/css/toogle.css" rel="stylesheet" />
   <!-- <link href="assets/theme/css/toogle.css" rel="stylesheet" />-->
    <!-- end page level  -->
    <style>
        #reportViewer {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 25px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            user-select: none;
        }

        .ShowModal {
            top: 200px;
            left: 250px;
            z-index: 1000;
            position: absolute;
            background-color: White;
            display: block;
        }

        .HideModal {
            display: none;
        }

        .OverlayEffect {
            background-color: white;
            filter: alpha(opacity=70);
            /*opacity: 0.7;*/
            width: 100%;
            height: 100%;
            z-index: 400;
            position: absolute;
            top: 65px;
            left: 0;
            bottom: 0;
        }

        .closeButton {
            border: 1px solid black;
            float: right;
            top: 0;
            background: gray;
            width: 35px;
            color: white;
            text-align: center;
            cursor: pointer;
        }

        .innerTableHead {
            padding: 2px;
            border: #8db7dd solid;
            margin-left: 10px;
            margin-right: 0;
            margin-bottom: 1px;
            background: darkgray;
            text-align: center;
            height: 40px;
        }
        .inp {
            width: 100px;
            height: 16px;
            min-height: 30px;
        }
        .subrow {
            margin: 0;
            /*padding: 3px;*/
            background: #cae0e0;
            text-align: center;
            margin-left: 10px;
            margin-top: 1px;
            margin-bottom: 1px;
        }
        .cellc{
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .foot-otherFee{
            margin:0;
            margin-top:3px;
        }
    </style>
</head>
<body ng-style="bodyStyle">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div  ui-view=""></div>
    <div class="modal fade" id="Message_Modal">
        <div class="modal-dialog" id="Div2" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">{{"Message" | translate }}</h5>
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <label class="semi-bold">{{ResultMessage}}</label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="message">
        <div class="modal-dialog" id="Div4" style="width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="semi-bold pull-left">Message</h5>
                    <br />
                </div>
                <div class="modal-body">
                    <br />
                    <label>{{strMessage}}</label>
                    <br />
                </div>
                <div class="modal-footer" style="height: 60px">
                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">Ok</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!---end modal-->
    </div>

    <div id="rptViwer" class="OverlayEffect" style="display: none; float: right; width: 60%; height: 90%;">
        <div id="title" style="width: 100%; background-color: lightgray; display: table; margin-left: 5px;">
            Report Viewer
            <div class="closeButton" onclick="closeReport();">X</div>
        </div>

        <div id="reportViewer" class="ShowModal">
        </div>
    </div>


    <!-- build:js scripts/vendor.js -->
      <script src="assets/plugins/jquery.cookie.min.js"></script>
    <script src="assets/plugins/jquery.cookie.js"></script>
    <script src="assets/libs/bower/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/libs/bower/angular/angular.min.js"></script>
    <script src="assets/libs/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/libs/bower/angular-route/angular-route.min.js"></script>
    <script src="assets/libs/bower/angular-touch/angular-touch.min.js"></script>
    <script src="assets/libs/bower/angular-cookies/angular-cookies.min.js"></script>
    <script src="assets/libs/bower/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="assets/libs/plugin/jquery-unveil/jquery.unveil.min.js"></script>
    <script src="assets/libs/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="assets/libs/plugin/pace/pace.min.js"></script>
    <script src="assets/plugins/jquery-datatable/js/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js"></script>
    <script src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <script src="app/js/vendor/dist/angular-pdf.js"></script>
    <script src="app/js/vendor/dist/pdf.js"></script>
    <script src="app/js/vendor/dist/angular-pdf-viewer.min.js"></script>
    <script src="assets/plugins/jquery-superbox/js/superbox.js"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/plugins/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="assets/plugins/boostrap-clockpicker/bootstrap-clockpicker.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
    <script src="app/modules/Gradebook/app.js"></script>
     <script src="assets/js/google_map.js"></script>
    
    <script src="assets/libs/bower/ng-idle/angular-idle.min.js"></script>
    <script src="assets/libs/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script src="assets/plugins/jquery.cookie.js"></script>


    <!----------------------------------------- For pager--------------------------->
    <script src="assets/libs/dirPagination.js"></script>
    <script src="assets/js/dirPagination.js"></script>
    <script src="assets/js/paging.js"></script>
         
    <!-----------------------------------------Alert tabIndex --------------------------->

    <script src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    
    <script src="assets/libs/plugin/messagebox/sweetalert.min.js"></script>
    <script src="assets/js/sweetalert2.min.js"></script>
    <script src="assets/plugins/MultiSelect/multiple-select.js"></script>
    <script src="assets/js/tableHeadFixer.js"></script>
    <script src="assets/js/angular-drag-and-drop-lists.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js scripts/scripts.js -->
    <script src="app/modules/Student/app.js"></script>
      <script src="app/modules/Fee/app.js"></script>
    <script src="app/modules/Scheduling/app.js"></script>
   
    <script src="app/js/app.js"></script>
    <script src="app/js/app.route.js"></script>
    <script src="app/js/app.config.js"></script>
    <script src="app/lang/ar.js"></script>
    <script src="app/config/development.js"></script>
    <script src="app/modules/core/app.core.js"></script>
    <script src="app/modules/core/controllers/LayoutController.js"></script>
    <script src="app/modules/users/app.users.js"></script>
    <script src="app/modules/users/config/users.auth.js"></script>
    <script src="app/modules/users/controllers/LoginController.js"></script>
    <script src="app/modules/users/services/AuthenticationService.js"></script>
    <script src="app/modules/main/app.main.js"></script>
    <script src="app/js/Filter/StudentFilter.js"></script>
     <script src="app/modules/Student/controllers/StudentDeviceCont.js"></script>
    <script src="app/modules/main/controllers/MainController.js"></script>


    <!--Attendance-->
    <script src="app/modules/Attendance/app.js"></script>
    <script src="app/modules/Attendance/controller/StudentAttendanceCont.js"></script>
    <!--<script src="app/modules/Attendance/controller/MonthlyAttendanceController.js"></script>-->
    <script src="app/modules/Attendance/controller/StudentAttendanceMonthlyCont.js"></script>
    <script src="app/modules/Attendance/controller/AttendanceCodeCont.js"></script>
    <script src="app/modules/Attendance/controller/ClassWiseAttendanceCont.js"></script>
    <script src="app/modules/Attendance/controller/SubjectwisetAttendanceCont.js"></script>
    <script src="app/modules/Attendance/controller/EmployeeGradeCont.js"></script>
    <script src="app/modules/Attendance/controller/HomeRoomAttendanceCont.js"></script>
    <!-- Pooja -->
    
    <!-- FEE -->
  
    <script src="app/modules/Fee/controllers/FeeTypeCont.js"></script>
    <script src="app/modules/Fee/controllers/FeeCategoryCont.js"></script>
    <script src="app/modules/Fee/controllers/StudentPayingAgentCont.js"></script>
       <script src="app/modules/Fee/controllers/PayingAgentMappingCont.js"></script>
    <script src="app/modules/Student/controllers/UpdateFeeCategoryCont.js"></script>
    <script src="app/modules/Gradebook/controllers/AgendaCreationCont.js"></script>

    <!-- SETUP -->
    <script src="app/modules/Setup/app.js"></script>
    <script src="app/modules/Setup/controller/EthnicityCont.js"></script>
    <script src="app/modules/Setup/controller/SubjectCont.js"></script>
    <script src="app/modules/Setup/controller/SubjectGroupCont.js"></script>
    <script src="app/modules/Setup/controller/ParameterCont.js"></script>
    <script src="app/modules/Setup/controller/CurriculumCont.js"></script>
    <script src="app/modules/Setup/controller/AcademicYearCont.js"></script>
    <script src="app/modules/Setup/controller/SujectTypeCont.js"></script>
    <script src="app/modules/Setup/controller/CountryCont.js"></script>
    <script src="app/modules/Setup/controller/EthnicityCont.js"></script>
    <script src="app/modules/Setup/controller/BuildingCont.js"></script>
    <script src="app/modules/Setup/controller/LanguageCont.js"></script>
    <script src="app/modules/Setup/controller/LocationCont.js"></script>
  
    <script src="app/modules/Setup/controller/RegionCont.js"></script>
    <script src="app/modules/Setup/controller/StateCont.js"></script>
    <script src="app/modules/Setup/controller/CityMasterCont.js"></script>
    <script src="app/modules/Setup/controller/CouncilMasterCont.js"></script>
    <script src="app/modules/Setup/controller/CouncilStudentMappingCont.js"></script>
    <script src="app/modules/Setup/controller/NationalityCont.js"></script>
    <script src="app/modules/Setup/controller/ReligionCont.js"></script>
    <script src="app/modules/Setup/controller/SectionCont1.js"></script>
    <script src="app/modules/Setup/controller/CurriculumLevelCont.js"></script>
    <script src="app/modules/Setup/controller/GradeLevelCont.js"></script>
    <script src="app/modules/Setup/controller/CommonApplicationCont.js"></script>
     <script src="app/modules/Common/controller/AlertTransactionCont.js"></script>
    <script src="app/modules/Setup/controller/CommonModuleCont.js"></script>
      <script src="app/modules/Setup/controller/ModeratorCont.js"></script>
    <script src="app/modules/Setup/controller/ModeratorUserCont.js"></script>
    <script src="app/modules/Setup/controller/CommonSequenceCont.js"></script>
    <script src="app/modules/Setup/controller/UserApplicationsFinsCont.js"></script>
    <script src="app/modules/Setup/controller/TeacherAssignmentUploadCont.js"></script>
    <script src="app/modules/Setup/controller/TeacherAssignmentViewCont.js"></script>
    <script src="app/modules/Setup/controller/TimeLineCont.js"></script>
    <script src="app/modules/Setup/controller/TimeLineAlertCont.js"></script>
    <script src="app/modules/Fee/controllers/Sims043RefundCont.js"></script>
    <script src="app/modules/Setup/controller/EmailCommunicationCont.js"></script>
    <script src="app/modules/Setup/controller/SMTPCont.js"></script>
    <script src="app/modules/Setup/controller/PortalReferenceCont.js"></script>
    <script src="app/modules/Setup/controller/ApplicationModule.js"></script>
    <!-- STUDENT -->
    <script src="assets/js/angular-drag-and-drop-lists.js"></script>
    <script src="app/modules/Student/controllers/AdmissionShortCont.js"></script>
    <script src="app/modules/Student/controllers/AdmissionCont.js"></script>
    <script src="app/modules/Student/controllers/AdmissionDashboardCont.js"></script>
    <script src="app/modules/Student/controllers/CancelAdmissionCont.js"></script>
    <script src="app/modules/Student/controllers/AdmissionCriteriaCont.js"></script>
    <script src="app/modules/Student/controllers/SectionScreeningCont.js"></script>
    <script src="app/modules/Student/controllers/SectionTermCont.js"></script>
    <script src="app/modules/Student/controllers/UpdateStudentSectionCont.js"></script>
    <script src="app/modules/Student/controllers/AttendanceRuleCont.js"></script>
    <script src="app/modules/Student/controllers/AgendaViewCont.js"></script>
    <script src="app/modules/Student/controllers/DocumentDetailsCont.js"></script>
    <script src="app/modules/Student/controllers/DocumentMasterCont.js"></script>
    <script src="app/modules/Student/controllers/StudentBoardExamCont.js"></script>
    <script src="app/modules/Student/controllers/StudentImageViewCont.js"></script>
    <script src="app/modules/Student/controllers/UploadRemainingDocumentCont.js"></script>
     <script src="app/modules/Student/controllers/AdmissionFeeCont.js"></script>
    <script src="app/modules/Student/controllers/AdmissionFeesCont.js"></script>
    <script src="app/modules/Student/controllers/ProspectFeesCont.js"></script>
    <script src="app/modules/Student/controllers/IssueCertificateCont.js"></script>
    <script src="app/modules/Student/controllers/DefineQuota.js"></script>
    <script src="app/modules/Student/controllers/RequestCertificateCont.js"></script>
    <script src="app/modules/Student/controllers/CertificateTCParameterCont.js"></script>
    <script src="app/modules/Student/controllers/StudentreportCont.js"></script>

    <!-- SCHOOL SETUP -->
    <script src="app/modules/SchoolSetup/app.js"></script>
    <script src="app/modules/SchoolSetup/controller/GradeCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/TermCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/HeadTeacherMappingCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/SupervisorMappingCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/CalendarExceptionCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/StaffCalenderNewCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/BoardExamCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/BoardCont.js"></script>
     <script src="app/modules/Setup/controller/EmailCont.js"></script>
   

      <!-- FEE -->
    <script src="app/modules/Fee/controllers/SectionFeeCont.js"></script>
    <script src="app/modules/Fee/controllers/StudentFeeConcessionCont.js"></script>
    <script src="app/modules/Fee/controllers/StudentFeeConcessionTransactionCont.js"></script>
    <script src="app/modules/Fee/controllers/CopySectionFeeCont.js"></script>
    <script src="app/modules/Fee/controllers/ClassWiseFeeCollectionCont.js"></script>

    <!--Collabortion-->
    <script src="app/modules/Collaboration/app.js"></script>       
    <script src="app/modules/Collaboration/controller/ViewCircularCont.js"></script>
    <script src="app/modules/Collaboration/controller/ViewNewsCont.js"></script>
    <script src="app/modules/Collaboration/controller/CircularCont.js"></script>
    <script src="app/modules/Collaboration/controller/NewsCont.js"></script>
    <script src="app/modules/Collaboration/controller/CollaborationDetailsCont.js"></script>

    <script src="app/modules/Setup/controller/StudentSectionSubjectCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/SchoolLicenceCont.js"></script>
   
    <script src="app/modules/Setup/controller/UserApplicationsCont.js"></script>
    <script src="app/modules/Setup/controller/RoleApplicationCont.js"></script>

    <script src="app/modules/SchoolSetup/controller/ClassTeacherMappingCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/SectionSubjectCont.js"></script>
    <script src="app/modules/Setup/controller/CreateEditUserCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/SchoolCalenderCont.js"></script>
    <script src="app/modules/Student/controllers/StudentDatabaseCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/StaffCalendarCont.js"></script>
    <script src="app/modules/Setup/controller/CreateEditSiblingCont.js"></script>
    <script src="app/modules/Setup/controller/HomeroomStudentCont.js"></script>
    <script src="app/modules/Setup/controller/HomeroomTeacherCont.js"></script>
    <script src="app/modules/Setup/controller/HomeRoomCont.js"></script>
    <script src="app/modules/Fee/controllers/FeeRefundCont.js"></script>

    <script src="app/modules/Setup/controller/MenuDragDrop.js"></script>
    <!-- kbh  Emp Short Form-->
    <script src="app/modules/HRMS/app.js"></script>
     <script src="app/modules/HRMS/controller/EmployeeDocumentDetailsCont.js"></script>

    <script src="app/modules/HRMS/controller/EmployeeTeacherCreationCont.js"></script>
    <script src="app/modules/HRMS/controller/CreateEditEmployeeCont.js"></script>
    <script src="app/modules/HRMS/controller/EmployeeMasterCont.js"></script>
    <script src="app/modules/HRMS/controller/EmpDashboardCont.js"></script>
    <script src="app/modules/Fee/controllers/FeeTransaction.js"></script>
    <script src="app/modules/Fee/controllers/FeeTransPayingAgent.js"></script>
    <script src="app/modules/Fee/controllers/DefineStudentFeeCont.js"></script>
    <script src="app/modules/HRMS/controller/DesignationCont.js"></script>
    <script src="app/modules/HRMS/controller/QualificationEmployeeCont.js"></script>
    <script src="app/modules/HRMS/controller/DestinationCont.js"></script>
    <script src="app/modules/Scheduling/controller/BellSectionSubjectTeacherCont.js"></script>
    <script src="app/modules/HRMS/controller/ActiveUserCont.js"></script>
    <script src="app/modules/HRMS/controller/PaysParameterCont.js"></script>
    <script src="app/modules/HRMS/controller/PayCodeCont.js"></script>
    <script src="app/modules/HRMS/controller/AchievementCont.js"></script>
    <script src="app/modules/HRMS/controller/CommonCodeCont.js"></script>
    <script src="app/modules/HRMS/controller/PayCodeDetailsCont.js"></script>
    <script src="app/modules/HRMS/controller/GoalTargetCont.js"></script>
    <script src="app/modules/HRMS/controller/GoalTargetKPICont.js"></script>
    <script src="app/modules/HRMS/controller/GoalTargetKPIMeasureCont.js"></script>
    <script src="app/modules/HRMS/controller/InActiveUserCont.js"></script>
    <script src="app/modules/HRMS/controller/ShiftMasterCont.js"></script>
    <script src="app/modules/HRMS/controller/ShiftTemplateCont.js"></script>
    <script src="app/modules/HRMS/controller/AirfairCont.js"></script>
    <script src="app/modules/HRMS/controller/EmployeeShiftCont.js"></script>
    <script src="app/modules/HRMS/controller/LoanAmountCont.js"></script>
    <script src="app/modules/HRMS/controller/LoanCodeCont.js"></script>
    <script src="app/modules/HRMS/controller/LoanRegisterCont.js"></script>
    <!--<script src="app/modules/HRMS/controller/LoanConfirmationCont.js"></script>-->
    <script src="app/modules/HRMS/controller/LoanConfirmationCont.js"></script>
    <script src="app/modules/HRMS/controller/ManagerConfirmationCont.js"></script>
    <script src="app/modules/HRMS/controller/GoalTargetKPIMeasureAchievementCont.js"></script>
    <script src="app/modules/HRMS/controller/SipEvaluationScheduleCont.js"></script>
    <script src="app/modules/HRMS/controller/PaysGradeChangeCont.js"></script>
    <script src="app/modules/HRMS/controller/PaysAttendanceCodeCont.js"></script>
    <script src="app/modules/HRMS/controller/UpdatePaysheetCont.js"></script>
    <script src="app/modules/HRMS/controller/GeneratePayrollCont.js"></script>
    <script src="app/modules/HRMS/controller/PayrollEmployeeCont.js"></script>
    <script src="app/modules/HRMS/controller/EmployeeDocumentMasterCont.js"></script>


    <!--Health-->
    <script src="app/modules/Health/app.js"></script>
    <script src="app/modules/Health/controllers/MedicalStudentSusceptibilityCont.js"></script>
    <!--<script src="app/modules/Health/controllers/medicalExaminationCont.js"></script>-->
    <script src="app/modules/Health/controllers/medicalImmunizationCont.js"></script>
    <script src="app/modules/Health/controllers/medicalImmunizationGroupCont.js"></script>
    <script src="app/modules/Health/controllers/medicalMedicineCont.js"></script>
    <script src="app/modules/Health/controllers/medicalSusceptibilityCont.js"></script>
    <script src="app/modules/Health/controllers/medicalVisitExaminationCont.js"></script>
    <script src="app/modules/Health/controllers/medicalVisitMedicineCont.js"></script>
    <script src="app/modules/Health/controllers/medicalImmunizationStudentCont.js"></script>
    <script src="app/modules/Health/controllers/StudentHealthCont.js"></script>

    <!--Finance-->
    <script src="app/modules/Finance/app.js"></script>
    <script src="app/modules/Finance/controller/FinnParameterCont.js"></script>
    <script src="app/modules/Finance/controller/PDCBillsCont.js"></script>
    <script src="app/modules/Finance/controller/PDCCancelCont.js"></script>
    <script src="app/modules/Finance/controller/PDCRealisedCont.js"></script>
    <script src="app/modules/Finance/controller/PDCReSubmissionCont.js"></script>
    <script src="app/modules/Finance/controller/PDCReturnCont.js"></script>
    <script src="app/modules/Finance/controller/PDCSubmissionCont.js"></script>
    <script src="app/modules/Finance/controller/BankReconciliationCont.js"></script>
    <script src="app/modules/Finance/controller/PdcPaymentSubmissionCont.js"></script>
    <script src="app/modules/Finance/controller/PdcPaymentResubmissionCont.js"></script>
    <script src="app/modules/Finance/controller/PdcPaymentReturnCont.js"></script>
    <script src="app/modules/Finance/controller/PdcPaymentCancelCont.js"></script>
    <script src="app/modules/Finance/controller/PdcPaymentRealizeCont.js"></script>
    <script src="app/modules/Finance/controller/PDCReceipt(BankReceipt)Cont.js"></script>

             <!--Common-->
    <script src="app/modules/Common/app.js"></script>
   <script src="app/modules/Common/controller/ExceptionsCont.js"></script>
     <!--Fleet-->
    <script src="app/modules/Fleet/app.js"></script>
    <!-- <script src="app/modules/Fleet/controllers/TransportRouteDetailsCont.js"></script>-->
    <!--<script src="app/modules/Fleet/controllers/TransportVehicleDetailsCont.js"></script>-->
    <script src="app/modules/Fleet/controllers/TransportRouteCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportStopCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportRouteStopCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportVehicleCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportCaretakerCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportDriverCont.js"></script>
    
    <script src="app/modules/Fleet/controllers/TransportFeesCont.js"></script>
    <script src="app/modules/Fleet/controllers/ApproveStudentTransportCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportRouteStudCont.js"></script>
    <script src="app/modules/Fleet/controllers/TransportCancelUpdateCont.js"></script>
  




    <script src="app/modules/Fee/controllers/FeeTermCont.js"></script>
    <script src="app/modules/SchoolSetup/controller/HouseCont.js"></script>
    <script src="app/modules/Student/controllers/HouseAllocationCont.js"></script>
    <script src="app/modules/Scheduling/controller/BellCont.js"></script>
    <script src="app/modules/Scheduling/controller/BellDayCont.js"></script>
    <script src="app/modules/Scheduling/controller/BellDetailsCont.js"></script>
    <script src="app/modules/Scheduling/controller/BellSlotGroupCont.js"></script>
    <script src="app/modules/Scheduling/controller/BellSlotRoomCont.js"></script>
   <script src="app/modules/HRMS/controller/ContractCont.js"></script>
    <script src="app/modules/HRMS/controller/EmployeeLeaveAssignCont.js"></script>
    <script src="app/modules/Gradebook/controllers/GradebookCont.js"></script>
   <script src="app/modules/Finance/controller/ScheduleGroupCont.js"></script>
    <script src="app/modules/Finance/controller/ScheduleGroupDetailsCont.js"></script>
    <script src="app/modules/Finance/controller/CreateEditDepartmentCont.js"></script>
    <script src="app/modules/HRMS/controller/LeaveTypeCont.js"></script>
    <script src="app/modules/HRMS/controller/EmployeeImageViewCont.js"></script>
    <script src="app/modules/HRMS/controller/DefineCategoryCont.js"></script>
    <script src="app/modules/HRMS/controller/OtherLoanCont.js"></script>
    <script src="app/modules/HRMS/controller/SettlementTypeCont.js"></script>
    <script src="app/modules/HRMS/controller/EmployeeDocumentUploadCont.js"></script>
  
    <script src="app/modules/HRMS/controller/EmpAttendanceDaily.js"></script>
    <script src="app/modules/HRMS/controller/AttendanceMachine.js"></script>
            <!-- Incidence -->
   <script src="app/modules/Incidence/app.js"></script>
    <script src="app/modules/Incidence/controller/ActionCategoryCont.js"></script>
    <script src="app/modules/Incidence/controller/IncidenceActionCont.js"></script>
    <script src="app/modules/Incidence/controller/IncidenceConsequenceCont.js"></script>
    <script src="app/modules/Incidence/controller/IncidenceCont.js"></script>
    <script src="app/modules/Incidence/controller/IncidenceTimelineCont.js"></script>
    <script src="app/modules/Incidence/controller/IncidenceWarningCont.js"></script>

   <!-- Library-->
    <script src="app/modules/Library/app.js"></script>
    <script src="app/modules/Library/controllers/LibraryAttributeCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryCatalogueAttributeCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryCatalogueCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryCategoryCont.js"></script>
    <script src="app/modules/Library/controllers/LibrarySubcategoryCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryBinCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryItemStyleCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryMembershipTypeCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryPrivilegeCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryStatusCont.js"></script>
    <script src="app/modules/Library/controllers/LibrarySubscriptionTypeCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryTransactionTypeCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryLocationCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryItemRequestCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryRequestDetailCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryItemMasterCont.js"></script>
    <script src="app/modules/Library/controllers/RenewLibraryCont.js"></script>
    <script src="app/modules/Library/controllers/LibraryTransactionDetailCont.js"></script>
    <script src="app/modules/Fee/controllers/CFRCont.js"></script>

    <!--Finance  -->
    <script src="app/modules/Finance/controller/PaymentTermCont.js"></script>
    <script src="app/modules/Finance/controller/LedgerCntrlCont.js"></script>
    <script src="app/modules/Finance/controller/ScheduleCont.js"></script>
    <script src="app/modules/Finance/controller/AssetMasterViewCont.js"></script>
    <script src="app/modules/Finance/controller/CreateEditAccountCodeCont.js"></script>
    <script src="app/modules/Finance/controller/GLAccountsCreateViewCont.js"></script>
    <script src="app/modules/Finance/controller/CreateEditFinancialPeriodCont.js"></script>
    <script src="app/modules/Finance/controller/SubledgerMasterCont.js"></script>
    <script src="app/modules/Finance/controller/ViewEditGLPeriodLedgerCont.js"></script>
    <script src="app/modules/Finance/controller/FinancialDocumentCont.js"></script>
    <script src="app/modules/Finance/controller/AssetLiteralCont.js"></script>
    <script src="app/modules/Finance/controller/AssetMasterCont.js"></script>
    <script src="app/modules/Finance/controller/FeePostingCont.js"></script>
    <script src="app/modules/Finance/controller/FeePostingPaymentModeCont.js"></script>
    <script src="app/modules/Finance/controller/BankMasterCont.js"></script>
    <script src="app/modules/Finance/controller/FinancialYearCont.js"></script>
    <script src="app/modules/Finance/controller/CreditEditDivisionCont.js"></script>
    <script src="app/modules/Finance/controller/UserAccountCont.js"></script>
    <script src="app/modules/Finance/controller/FeePostingCont.js"></script>
    <script src="app/modules/Finance/controller/PDCSubmissionCont.js"></script>
    <script src="app/modules/Finance/controller/CompanyMaster.js"></script>
    <script src="app/modules/Finance/controller/CurrencyMaster.js"></script>
    <script src="app/modules/Finance/controller/DocumentUserAccount.js"></script>
    <script src="app/modules/HRMS/controller/CompanyMasterCont.js"></script>
    <!--<script src="app/modules/Finance/controller/DocumentsCont.js"></script>-->
    <script src="app/modules/Gradebook/controllers/Co_ScholasticCont.js"></script>
    <script src="app/modules/Fee/controllers/ConcessionApprovalCont.js"></script>
    <script src="app/modules/Finance/controller/BankPaymentCont.js"></script>


    <!--------------------------------------- Inventory forms--------------------------------------------------------------->
    <script src="app/modules/Inventory/app.js"></script>
    <script src="app/modules/Inventory/controllers/InvLPOCont.js"></script>
    <script src="app/modules/Inventory/controllers/BankCont.js"></script>
    <script src="app/modules/Inventory/controllers/LocationCont.js"></script>
    <script src="app/modules/Inventory/controllers/SectionCont.js"></script>
    <script src="app/modules/Inventory/controllers/SupplierMasterCont.js"></script>
    <script src="app/modules/Inventory/controllers/TradeTermCont.js"></script>
    <script src="app/modules/Inventory/controllers/UnitOfMeasurementCont.js"></script>
    <script src="app/modules/Inventory/controllers/UomConversionsCont.js"></script>
    <script src="app/modules/Inventory/controllers/SupplierDescriptionTypesCont.js"></script>
    <script src="app/modules/Inventory/controllers/SupplierDescriptionCont.js"></script>
    <script src="app/modules/Inventory/controllers/BinsCont.js"></script>
    <script src="app/modules/Inventory/controllers/SalesTypeCont.js"></script>
    <script src="app/modules/Inventory/controllers/AdjustmentReasonCont.js"></script>
    <script src="app/modules/Inventory/controllers/SaleTypeMarkUpCont.js"></script>

    <script src="app/modules/Student/controllers/ProspectAdmissionCont.js"></script>
    <script src="app/modules/Student/controllers/ProspectDashboardCont.js"></script>
    <script src="app/modules/Setup/controller/PPFieldStatusCont.js"></script>
    <script src="app/modules/Setup/controller/AlbumController.js"></script>
    --
    <script src="app/modules/Fee/controllers/FeeInvoiceController.js"></script>
    <script src="app/modules/Library/controllers/LTController.js"></script>


    <script src="app/modules/Collaboration/controller/EmailSmsToParentCont.js"></script>
     <script src="app/modules/HRMS/controller/GratuityCriteriaCont.js"></script>
    <script src="app/modules/HRMS/controller/GratuityCalculationCont.js"></script>
    <script src="app/modules/HRMS/controller/MarkEmpResignationCont.js"></script>
    <script src="app/modules/HRMS/controller/PaysGradeCont.js"></script>
   <!-- <script src="app/modules/HRMS/controller/PaysGradeCont.js"></script>-->

        <script src="app/modules/Inventory/controllers/SupplierDepartmentsCont.js"></script>
    <script src="app/modules/Inventory/controllers/supplierGroupCont.js"></script>
    <script src="app/modules/Inventory/controllers/deliveryMode.js"></script>
    <script src="app/modules/Inventory/controllers/overTimeRateCont.js"></script>
    <script src="app/modules/Student/controllers/CertificateUserGroupCont.js"></script>
   

    <script src="https://api.mograsys.com/apierp/ReportViewer/js/kendo.subset.2015.3.930.min.js"></script>
    <script src="https://api.mograsys.com/apierp/ReportViewer/js/telerikReportViewer-9.2.15.1216.min.js"></script>
    <script src="https://api.mograsys.com/apierp/ReportViewer/js/ReportViwer.js"></script>
    
    <!--end-->
    <!-- endbuild -->
</body>

</html>
